<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Profile &mdash; Free Website Template, Free HTML5 Template by freehtml5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">	
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url({% static 'images/cover_bg_3.jpg' %});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">

                        <!-- profile pic -->
							<div class="profile-thumb" style="background: url({% static 'images/user-5.jpg' %} );"></div>
							<h1><span>Aman Ramteke</span></h1>
							<h3><span>Mechanical Engineer / Web Developer / Data Scientist</span></h3>
							<p>
								<ul class="fh5co-social-icons">
								<!--
									<li><a href="#"><i class="icon-twitter2"></i></a></li>
									<li><a href="#"><i class="icon-facebook2"></i></a></li> -->
									<li><a href="https://www.linkedin.com/feed/"><i class="icon-linkedin2"></i></a></li>
									<li><a href="https://github.com/amanramteke70"><i class="icon-github"></i></a></li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>About Me</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<ul class="info">
						<li><span class="first-block">Full Name:</span><span class="second-block">Aman Ramteke</span></li>
						<li><span class="first-block">Phone:</span><span class="second-block">+91 738 99732 18</span></li>
						<li><span class="first-block">Email:</span><span class="second-block">amanramteke775@gmail.com</span></li>
						<li><span class="first-block">Address:</span><span class="second-block">L.I.G 314, B.M.Y Charoda Dader Road Chhattisgarh.</span></li>
					</ul>									
				</div>
				<div class="col-md-8">
					<h2>Hello There!</h2>
					<p>
					I have always been fascinated with word and
						numbers. Fostering a can-do and go-giver
						attitude. I have consistently exhibited an
						exhibited an ability to deliver in a dynamic and
						performance centric environment. Possessing an
						inquisitive attitude skills and engineering ethics.
						<p> I
						have the passion and desire to take up
						challenging opportunities to drive successful
						results and robust outcomes. Diligent and driven
						team player seeking exciting responsibilities as a
						fresher.</p>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							{% comment %} <li><a href="#"><i class="icon-twitter2"></i></a></li>
							<li><a href="#"><i class="icon-facebook3"></i></a></li> {% endcomment %}
							<li><a href="https://www.linkedin.com/feed/"><i class="icon-linkedin2"></i></a></li>
							<li><a href="https://github.com/amanramteke70"><i class="icon-github"></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-resume" class="fh5co-bg-color">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>My Resume</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline">
						<li class="timeline-heading text-center animate-box">
							<div><h3>Work Experience/Internship</h3></div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Trainee</h3>
									<span class="company">Shivnath Automobiles Pvt. Ltd/mahindra automobile. 21th June, 2019 to 22th July, 2019.</span>
								</div>
								<div class="timeline-body">
									<p>Shivnath Automobiles - a authorised dealer of Mahindra & Mahindra automotive is the Flagship company of Shivnath Group. </p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">relationship manager</h3>
									<span class="company">INDIAN INFOLINE Finance Pvt. Ltd.
									- 1 june 2022 to 1 September 2022.</span>
								</div>
								<div class="timeline-body">
									<p>IIFL is provide to guide for sharemarket. and many more fields.</p>
								</div>
							</div>
						</li>

						<li class="timeline-heading text-center animate-box">
							<div><h3>Project</h3></div>
						</li>

						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Automatic Breaking System.</h3>
									<span class="company">college final year project.</span>
								</div>
								<div class="timeline-body">
								<p>Automatic braking technologies combine sensors and brake controls to help prevent high-speed collisions (this project in right now stoped.)</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">CRUD OPERTIONS</h3>
									<span class="company">Python/Django Project.</span>
								</div>
								<div class="timeline-body">
									<p>CRUD is the acronym for CREATE, READ, UPDATE and DELETE. These terms describe the four essential operations for creating and managing persistent data elements, mainly in relational and NoSQL databases.</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">BLOG Webiste</h3>
									<span class="company">Python/Django Project.</span>
								</div>
								<div class="timeline-body">
									<p>I'm create blog Website. in this website you can see my new blog, contact function and many more options. you can see my website in github. </p>
								</div>
							</div>
						</li>

						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>Education</h3></div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Graduation</h3>
									<span class="company">CHHATTISGARH SWAMI VIVEKANAND TECHNICAL UNIVERSITY, BHILAI - 2017 - 2021</span>
								</div>
								<div class="timeline-body">
									<p>Pursuing the progress report from "Shri Shankaracharya Group of Institutions Bhilai"</p>
									<h5>Aggregate - 70.34%</h5>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading"
									<h3 class="timeline-title">Full stack development</h3>
									<span class="company">naresh i technologies.</span>
								</div>
								<div class="timeline-body">
									<p>i'm doing full stack crouse in Naresh IT technologies in python.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Schooling</h3>
									<span class="company">Mansarowar Higher Secondary School.</span>
								</div>
								<div class="timeline-body">
									<p>Pursuing Higher Secondary/Secondary the progress report from
"Mansarowar Higher Secondary School"</p>
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
		<div class="text-center">
		<a href="{% static 'resume/resume.pdf' %}">
  		<button type="button" class="btn btn-primary">Resume Download</button>
		</div></a>
	</div>

	<div id="fh5co-features" class="animate-box">
		<div class="container">
			<div class="services-padding">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>My Services</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-paintbrush"></i>
							</span>
							<div class="feature-copy">
								<h3>Web Design</h3>
								<p>Make your business shine online with a custom service website designed just for you by a professional designer. Need ideas?.</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-bargraph"></i>
							</span>
							<div class="feature-copy">
								<h3>Web Developent</h3>
								<p>i backend developer. I do main work with python and framework Django. I chose python because it is a much more understanding language compared to others..</p>
							</div>
						</div>

					</div>
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-search"></i>
							</span>
							<div class="feature-copy">
								<h3>Analytics</h3>
								<p>Market research helps you (for low amount) find customers for your business. Competitive analysis helps you make your business unique.</p>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<!--<div class="col-md-4 text-center">

						<div class="feature-left">
							<span class="icon">
								<i class="icon-bargraph"></i>
							</span>
							<div class="feature-copy">
								<h3>Web Developent</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
							</div>
						</div>

					</div> -->

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-chat"></i>
							</span>
							<div class="feature-copy">
								<h3>Support</h3>
								<p>You will also be provided support here, if any problem in your code, it will also be slowed down.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-skills" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Skills</h2>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>HTML5</strong>85%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="67"><span><strong>Python</strong>67%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="65"><span><strong>Django</strong>65%</span></div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="30s"><span><strong>AuutoCad</strong>30%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="12"><span><strong>MySQL</strong>12%</span></div>
				</div>
					<!-- <div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>AngularJS</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>Ruby</strong>85%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Java</strong>90%</span></div>
				</div> -->
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">HTML5</span><span class="value-right">85%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Django</span><span class="value-right">67%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width:67%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">AuutoCad</span><span class="value-right">30%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
						  aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
						  </div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">Python</span><span class="value-right">65%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
						  aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:60%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">MySQL</span><span class="value-right">12%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar"
						  aria-valuenow="12" aria-valuemin="0" aria-valuemax="100" style="width:12%">
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<div id="fh5co-started" class="fh5co-bg-dark">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Hire Me!</h2>
					<p>As a fresher, I believe that everyone starts with a beginning. I need a platform to prove my abilities and skills. If you hire me I will do my best and this is the right platform to explore my skills and knowledge and learn new things. I am very excited to grow with your company.</p>
					<p><a href="#contact" class="btn btn-default btn-lg">Contact Us</a></p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-consult">
		<div class="video fh5co-video" style="background-image: url({% static 'images/cover_bg_2.jpg' %});">
			<div class="overlay"></div>
		</div>
		<div id = "contact" class="choose animate-box">
			<h2>Contact</h2>
			<form action="{% url "contact" %}" method = "post" class="was-validated">
			{% csrf_token %}
				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" id="fname" class="form-control" name="fname" placeholder="Your firstname" required>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" id="email" class="form-control" name="email" placeholder="Your email address" required>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" id="email" class="form-control" name="phone" placeholder="Your phone number" required>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<textarea name="message" id="message" name="message" cols="30" rows="10" class="form-control" placeholder="Say something about us"></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Send Message" class="btn btn-primary">
				</div>

			</form>	
		</div>
	</div>

	
	<div id="fh5co-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>&copy; thank you so much for visiting my website.<br></p>
				</div>
			</div>
		</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.j' %}s"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	<!-- Easy PieChart -->
	<script src="{% static 'js/jquery.easypiechart.min.js' %}"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="{% static 'js/google_map.js' %}"></script>
	
	<!-- Main -->
	<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>

